<!-- About Content -->
<ion-header-bar align-title="center" class="no-border header">
     <div class="buttons">
          <a ng-click="toggleLeft()"><i class="button button-icon icon ion-navicon"></i></a>
     </div>
     <h1 class="title"><a href="#/main"><img class="logo" ng-src="img/logo-white.png" alt="LSV"></a></h1>
</ion-header-bar>
<ion-view view-title="about">
     <ion-content class="padding about">
     		<h3>LSV ?</h3>
          	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repudiandae architecto iure, quisquam saepe libero harum possimus expedita facere alias velit nihil laborum similique explicabo maxime fugiat voluptatum atque iusto.</p>
          	<hr>
          	<small>Version 1.0</small>
     </ion-content>
</ion-view>