<!-- Favorite Content -->
<ion-header-bar align-title="center" class="no-border header">
     <div class="buttons">
          <a ng-click="toggleLeft()"><i class="button button-icon icon ion-navicon"></i></a>
     </div>
     <h1 class="title"><a href="#/main"><img class="logo" ng-src="img/logo-white.png" alt="LSV"></a></h1>
</ion-header-bar>
<ion-view view-title="favorite">
     <ion-content class="padding favorite" ng-init="favoriteCtrl.init()">
     		<h3>Favoris</h3>
     		<hr>
          	<p ng-hide="favoriteCtrl.data" class="no-data">{{favoriteCtrl.noData}}</p>
          	<ion-list class="list-response" ng-show="favoriteCtrl.data">
               <ion-item ng-click="favoriteCtrl.selected(value)" id="{{key}}" class="item-response" ng-repeat="(key, value) in favoriteCtrl.data">
                    <p>{{value.Q}}</p>
               </ion-item>
          	</ion-list>
     </ion-content>
</ion-view>