<ion-modal-view>
    <ion-header-bar align-title="center">
	  	<h1 class="title">
			<a ng-click="historicCtrl.closeModal()" class="button button-icon icon ion-ios-arrow-down color-positive"></a>
		</h1>
	</ion-header-bar>
    <ion-content>
      <div class="modal">
      	<h3>{{historicCtrl.dataModal.Q}}</h3>
      	<p class="divider">Réponse</p>
      	<p class="response">{{historicCtrl.dataModal.R}}</p>
      	<div class="buttons">
	        <p ng-click="historicCtrl.share(historicCtrl.dataModal.Q, historicCtrl.dataModal.R)" class="button button-block button-positive">Partager</p>
	    </div>
      </div>
    </ion-content>
</ion-modal-view>