<!-- Main Content -->
<ion-header-bar align-title="center" class="no-border header">
	<h1 class="title"><a href="#/main"><img class="logo" ng-src="img/logo-white.png" alt="LSV"></a></h1>
	<div class="buttons">
		<a href="#/historic" class="button button-icon icon ion-ios-list-outline"></a>
	</div>
</ion-header-bar>
<ion-view view-title="Main">
     <ion-pane class="padding main page" ng-init="mainCtrl.init()">
          	<div ng-show="mainCtrl.isLoad">
          		<div ng-show="mainCtrl.stepIsFull" class="step-is-full">
          			<h3>Rendez-vous dans</h3>
          			<p class="timer"></p>
          			<br>
				    <hr>
				    <h3>OU</h3>
				    <p>Accéder à 5 nouvelles connaissances en partageant l'applications à vos amis !</p>
				    <div class="buttons">
				        <p ng-click="mainCtrl.share()" class="button button-block button-balanced">Partager</p>
				    </div>
          			<div class="buttons">
				        <a href="#/historic" class="button button-block button-positive">Historique</a>
				    </div>
          		</div>
          		<div ng-hide="mainCtrl.stepIsFull">
          			<div class="row step">
          				<!-- <p><strong>{{mainCtrl.step}}</strong>/5</p> -->
          				<i class="ion-ios-circle-filled"></i>&nbsp;
          				<i ng-class="mainCtrl.step >= 2 ? 'ion-ios-circle-filled' : 'ion-ios-circle-outline'"></i>&nbsp;
          				<i ng-class="mainCtrl.step >= 3 ? 'ion-ios-circle-filled' : 'ion-ios-circle-outline'"></i>&nbsp;
          				<i ng-class="mainCtrl.step >= 4 ? 'ion-ios-circle-filled' : 'ion-ios-circle-outline'"></i>&nbsp;
          				<i ng-class="mainCtrl.step >= 5 ? 'ion-ios-circle-filled' : 'ion-ios-circle-outline'"></i>
          			</div>
          			<div class="row">
          				<h3 class="curr-question">{{mainCtrl.currStep.Q}}&nbsp;?</h3>
          			</div>
          			<hr>
          			<div class="row">
          				<ion-list class="list-response">
							<ion-item ng-click="mainCtrl.selected(value, key)" id="{{key}}" class="item-response" ng-repeat="(key, value) in mainCtrl.currStep.R">
								{{value}}
							</ion-item>
						</ion-list>
          			</div>
          			<hr>
          			<div class="row text-center response" ng-show="mainCtrl.showResponse">
          				<p>Réponse : <strong>{{mainCtrl.currResponse}}</strong></p>
          			</div>
          			<div ng-show="mainCtrl.showNext">
          				<button class="button button-block button-positive" ng-click="mainCtrl.nextQ()">Suivant</button>
          			</div>
          		</div>
          	</div>
     </ion-pane>
</ion-view>