<!-- Tuto Content -->
<ion-header-bar align-title="center" class="no-border header">
     <div class="buttons">
     </div>
     <h1 class="title"></h1>
     <div class="buttons">
          <a href="#/main" class="btn-tuto-next">Passer</a>
     </div>
</ion-header-bar>
<ion-view view-title="tuto">
     <ion-slide-box class="tuto page">
          <ion-slide>
               <div class="slide-1">
                    <img class="logo" ng-src="img/big-logo-white.png" alt="LSV">
                    <h3>Bienvenu sur LSV</h3>
                    <p><strong>L</strong>e <strong>S</strong>aviez <strong>V</strong>ous</p>
                    <br>
                    <p><strong>Jusqu'à 5 nouvelles <br>connaissances par jour !</strong></p>
               </div>
          </ion-slide>
          <ion-slide>
               <div class="slide-2">
                    <br>
                    <div class="content-screen">
                         <img class="screen" ng-src="img/screen-1.png" alt="LSV">
                    </div>
                    <br>
                    <p class="explication">Les points du haut affiche votre avancement journalier.</p>
               </div>
          </ion-slide>
          <ion-slide>
               <div class="slide-3">
                    <br>
                    <div class="content-screen">
                         <img class="screen" ng-src="img/screen-2.png" alt="LSV">
                    </div>
                    <br>
                    <p class="explication">Une fois que vous avez répondu à la question, vous pouvez avoir plus d'explication en appuyant sur 
                    <br><br>
                    <button class="button button-calm icon ion-ios-information"></button></p>
               </div>
          </ion-slide>
          <ion-slide>
               <div class="slide-4">
                    <br>
                    <div class="content-screen">
                         <img class="screen" ng-src="img/screen-3.png" alt="LSV">
                    </div>
                    <br>
                    <p>Vous pouvez ajouter la question à vos favoris en appuyant sur
                    <br><br>
                    <button class="button button-energized icon ion-ios-star"></button>
                    </p>
               </div>
          </ion-slide>
          <ion-slide>
               <div class="slide-5">
                    <br>
                    <div class="content-screen">
                         <img class="screen" ng-src="img/screen-4.png" alt="LSV">
                    </div>
                    <br>
                    <p>Pour passer à la question suivante appuyez sur 
                    <br><br>
                    <button class="button button-positive">Suivant</button>
                    </p>
               </div>
          </ion-slide>
          <ion-slide>
               <div class="slide-6">
                    <br>
                    <div class="content-screen">
                         <img class="screen" ng-src="img/screen-5.png" alt="LSV">
                    </div>
                    <br>
                    <p>En ca de mauvaise réponse <br>la solution apparait.</p>
               </div>
          </ion-slide>
          <ion-slide>
               <div class="slide-7">
                    <p>Vous êtes désormez pret pour commencer à jouer !</p>
                    <br><br>
                    <a href="#/main" class="button button-block button-positive">Suivant</a>
               </div>
          </ion-slide>
     </ion-slide-box>
</ion-view>