<!-- Tuto Content -->
<ion-view view-title="tuto">
     <ion-pane class="padding tuto page">
			<img class="logo" ng-src="img/big-logo-white.png" alt="LSV">
          	<h3>Bienvenu sur LSV</h3>
          	<p><strong>L</strong>e <strong>S</strong>aviez <strong>V</strong>ous</p>
          	<br>
          	<p><strong>Jusqu'à 5 nouvelle connaissances par jour !</strong></p>
          	<hr>
          	<br>
          	<p>Rendez vous dans l'historique <br>pour ne rien oublier <br><i class="icon ion-ios-list-outline"></i></p>
          	<br>
          	<div class="buttons">
			    <a href="#/main" class="button button-block button-positive">Passer</a>
			</div>
     </ion-pane>
</ion-view>